<template>
<div class="row mt-3">
    <div class="col-12">
        <div class="row">
            <div class="col-3 offset-2">
                <input type="text" class="form-control" placeholder="company" v-model="filterCompany" @input="filterByCompany" />
            </div>
        </div>

    </div>
    <div class="col-12 mt-3">
        <v-server-table  :columns="columns" :options="options" ref="dataTable" />
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            filterCompany: '',
            timer: null,
            columns: ['id', 'start_date', 'time_zone', 'status', 'company'],
            options: {
                filterable: false,
                perPage: 5,
                perPageValues: [],
                requestFunction: (data) => {
                    console.log('data', data);
                    const orderBy = data.orderBy;
                    const sortOrder = data.ascending ? 'asc' : 'desc';
                    const company = this.filterCompany;
                    let url = 'http://localhost:3200/getData?company=' + this.filterCompany + '&page=' + data.page;
                    
                    if (orderBy) {
                        url += '&orderBy='+ orderBy + '&sort=' + sortOrder
                    }
                    return this.$axios.get(url).catch(function (e) {
                        this.dispatch('error', e);
                    });
                },
                responseAdapter(res) {
                    console.log(res);
                    return {
                        data: res.data,
                        count: 10
                    }
                },
            }
        }
    },
    created() {
        // axios.get('http://localhost:3200/getData').then();
    },
    methods: {
        filterByCompany() {
            clearTimeout(this.timer);
            this.timer = setTimeout(() => {
                console.log('company name', this.filterCompany);
                this.$refs.dataTable.refresh();
            }, 250);
        }
    }
}
</script>
